.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
