<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="navigateTo('home1')" mat-menu-item>Jump cactus 🌵</button>
    <button (click)="navigateTo('home2')" mat-menu-item>Webcam Theremin 📻 (webcam access)</button>
    <button (click)="navigateTo('home3')" mat-menu-item>House distance 🗺</button>
  </mat-menu>
  <span>EMA🌱</span>
  <span class="spacer"></span>
</mat-toolbar>

<!--<nav class="container">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Pages</mat-label>-->
<!--    <mat-select (selectionChange)="navigateTo($event.value)">-->
<!--      <mat-option value="home1">Home 1</mat-option>-->
<!--      <mat-option value="home2">Home 2</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</nav>-->

<router-outlet></router-outlet>
